* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  line-height: normal; 
   font-style: normal;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex-flow: 1;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.00) 1.04% #F5F5F5 100%);
}
.logo {
  max-width: 100px
}
.logo img {
  width: 100%;
}
.btn {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  outline: none;
}
.btn-primary {
  width: 98px;
  height: 40px;
  border-radius: 2px;
  background: #1890FF;
  border: 1px solid #1890FF;
  color: white;
}
.btn-outline {
  width: 116px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.00);
  color: #595959;
}
.header {
  min-height: 124px;
  display: flex;
  align-items: center;
}
.header-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}
.banner {
  margin-bottom: 56px;
}
.banner-item {
  background: url('images/banners/bg.jpg');
  background-repeat: no-repeat;
  block-size: cover;
  background-position: center right;
  padding: 68px;
  border-radius: 10px;
}
.banner-item--title {
  color: #302C34;
  font-size: 39px;
  font-weight: 700;
  max-width: 50%;
  margin-bottom: 15px;
}
.banner-item--subtitle {
  color: #302C34;
  font-size: 24px;
  font-weight: 400;
  max-width: 50%;

}
.products {

}
.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-header--title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
}
.products-header--search {
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  height: 34px;
  min-width: 306px;
  flex-shrink: 0;
  padding: 5px 12px;
}
.products-header--search:focus {
  outline: none;
  border: 1px solid #D9D9D9;
}
.products-header--search::placeholder {
  color: #BFBFBF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.footer {
  min-height: 156px;
  display: flex;
  align-items: center;
  padding: 60px 0;
}
.footer-box {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
}
.footer-nav {
  flex-grow: 1;
}
.footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px;
}
.footer-nav ul li {
  color: #595959;
  font-size: 18px;
  font-weight: 400;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

@media (max-width: 991px) {
  .banner-item--titile {
    max-width: 100%
  }
  .banner-item--titile {
    max-width: 100%
  }
}