* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  line-height: normal; 
   font-style: normal;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex-flow: 1;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.00) 1.04% #F5F5F5 100%);
}
.logo {
  max-width: 100px
}
.logo img {
  width: 100%;
}
.btn {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  outline: none;
}
.btn-primary {
  border-radius: 2px;
  background: #1890FF;
  border: 1px solid #1890FF;
  color: white;
}
.btn-outline {
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background: #FFF;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.00);
  color: #595959;
}
.header {
  min-height: 124px;
  display: flex;
  align-items: center;
}
.header-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}
.banner {

}
.banner-item {
  background: url('images/social/bg.jpg') no-repeat 100%;
  padding: 68px;
  border-radius: 10px;
}
.footer {
  min-height: 156px;
  display: flex;
  align-items: center;
}
.footer-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
}
.footer-nav {
  flex-grow: 1;
}
.footer-nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 15px;
}
.footer-nav ul li {
  color: #595959;
  font-size: 18px;
  font-weight: 400;
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}